.button {
    -fx-background-color: silver;
    -fx-text-fill: darkblue;
}

.title {
    -fx-background-color: darkblue;
    -fx-text-fill: white;
}

.titled-pane {
    -fx-text-fill: white;
}

.button:pressed {
    -fx-translate-y: 1;
}

.tab {
    -fx-background-color: silver;
    -fx-text-fill: darkblue;
}